<!-- Compacta -->
<section id="Compacta">
    <div class="container">
      <br><br>
      <h1>ETE Compacta</h1>
      <p>ETE com capacidade de tratamento de 1m³/hora (1000 litros por hora)</p>
      
      <div class="d-flex flex-row justify-content-around row align-items-center">
        <div class="p-2 text-center col-sm">
          <img class="rounded img-fluid" src="img/Compacta2.png" alt="">
          <label style="width: 300px;">Construção, operação e manutenção simplificada
          </label>
        </div>
        <div class="p-2 text-center col-sm ">
          <img class="rounded img-fluid " src="img/Compacta1.png" alt="">
          <label style="width: 300px;">Baixos requisitos de área (10% dos sistemas convencionais)
          </label><!-- Observação melhorar a disposição dos elementos e incluir transições laterais -->
        </div>
      </div>

    </div>  
    <br><br>
  </section><!-- Vantagens -->