    <!-- Empresa - Quem Somos -->
    <section>
        <section id="quem-somos">
  
          <div id="fundo">
            <div class="container">
              
              <div class="row">
  
                <div class="col text-center">
  
                  <h1>Quem somos</h1>
                  <p>A Purisane Soluções Ambientais é uma empresa que atua no mercado de ETE’s. 
                    Especializada em soluções de saneamento básico com as mais modernas tecnologias 
                    disponíveis, aliando expertise na gestão de seus processos de fabricação, instalação e manutenção de Máquinas e Equipamentos, com uma equipe de profissionais com vasta experiência em Manaus e em outros Estados.
                  </p>
                  <p>Nosso objetivo é compreender as necessidades dos clientes, fornecendo-lhes serviços com preço competitivo que prima pela qualidade, comprometimento e cumprimento de prazos. Para tal, dispomos de uma equipe altamente qualificada e competente, bem como métodos e tecnologias mais recentes.
                  </p>
  
                </div>
  
                <div class="col text-center ">
  
                  <img id="imagem" src="img/agua3x3.jpg" alt="">
                  
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </section><!-- Empresa - Quem somos -->
        
        <!-- Empresa - Quem Somos Missão-->
        <section id="missao">
  
          <div id="fundo">
            <div class="container">
              
              <div class="row">
  
                <div class="col">
                  <h1>Missão</h1>
  
                  <p>
                    Contribuir de forma eficaz e eficiente em todos os processos de Saneamento Básico de cidades em que atuamos através de Soluções tecnológicas.
                  </p>
                  
                </div>
                <div class="col text-center">
  
                  <img id="imagem" src="img/agua3x3.jpg" alt="">
  
                </div>
              </div>
            </div>
          </div>
  
        </section><!-- Empresa - Quem somos missao-->
  
        <!-- Empresa -  Quem somos Visão -->
        <section id="visao">
  
          <div id="fundo">
            <div class="container">
              
              <div class="row">
  
                <div class="col">
                  <h1>Visão</h1>    
                  <p>Ser líder em Soluções na área de Saneamento Básico no Norte do Brasil, com qualidade presente em todos os nossos processos, de maneira integral.
                  </p>
                </div>
  
                <div class="col text-center">            
                  <img id="imagem" src="img/agua3x3.jpg"alt="">              
                </div>
  
              </div>
            </div>
          </div>
  
        </section><!-- Empresa - Quem somos visao-->
  
        <!-- Empresa - Quem Somos valores-->
        <section id="valores">
  
          <div id="fundo">
            <div class="container">
              
              <div class="row">
                
                <div class="col">
                  <h1>Valores</h1>    
                  <p>Compromisso com a busca pelo aperfeiçoamento tecnológico e de qualidade em todos os nossos processos, buscando contribuir com os objetivos de nossos clientes, aplicando a legislação vigente em sua totalidade com a máxima responsabilidade.
                  </p>
                </div>
  
                <div class="col text-center">  
                  <img id="imagem" src="img/agua3x3.jpg" alt="">
                </div>
  
              </div>
            </div>
          </div>
  
        </section><!-- Empresa - Quem somos valores-->
      </section><!-- Empresa - Quem Somos -->