<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href=""><img style="border-radius:10px" src="img/logo2.png" width="auto" height="70" alt=""></a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-pills nav text-center">
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#quem-somos">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Sistema">O Sistema</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Vantagens">Vantagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Compacta">ETE Compacta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contato">Contato</a>
        </li>
      </ul>
    </div>
  </nav><!-- Navbar -->