<!-- O Sistema -->
<section id="Sistema">
    <div class="container">
      <br><br>
      <h1 class="text-center">O Sistema</h1>
      <p class="p-3 bg-primary rounded text-light "> O Sistema Compacto de Tratamento de Efluentes PURISANE foi desenvolvido  para tratar efluentes domésticos e industriais sem a necessidade de reatores anaeróbios, lagoas facultativas, anaeróbias ou de maturação características dos sistemas de tratamento convencionais. 
      O sistema trata e desinfeta o efluente de origem sanitária ou industrial, dando-lhe características de Água Classe II, conforme Resolução do CONAMA 357/2006. Esta característica excede o padrão de descarte definido na Resolução 430/2011. 
      Este procedimento permite o descarte do efluente tratado  no meio  ambiente  ou  sua utilização  para limpeza  de pátios, jardins, lavagem de carro e outros.
      </p>
      <div class="row">
        <div class="col text-center mt-2">
          <img src="img/O sistema.png" alt="">
        </div>
        <div class="col text-center mt-2">
          <img src="img/O sistema2.png" alt="">
        </div>
      </div>
      
    </div>  
    <br><br>
  </section><!-- O Sistema -->