<!-- Vantagens -->
<section id="Vantagens">
    <div class="container">
      <br><br>
      <h1>Vantagens</h1>
      <p>Principais vantagens do nosso sistema: </p>
      
      <div class="d-flex flex-row justify-content-around row">
        <div class="p-2 text-center">
          <img src="img/vantagens1.png" height="100px" width="100px" alt="">
          <p style="width: 300px;">Baixos requisitos de área (10% dos sistemas convencionais)
          </p>
        </div>
        <div class="p-2 text-center">
          <img src="img/vantagens2.png" height="100px" width="100px" alt="">
          <p style="width: 300px;">Construção, operação e manutenção simplificada
          </p>
        </div>
        <div class="p-2 text-center">
          <img src="img/vantagens3.png" height="100px" width="100px" alt="">
          <p style="width: 300px;">Baixo custo por metro cúbico tratado
          </p>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-around row">
        <div class="p-2 text-center">
          <img src="img/vantagens4.png" height="100px" width="100px" alt="">
          <p style="width: 300px;">Não produz lodo
          </p>
        </div>
        <div class="p-2 text-center">
          <img src="img/vantagens5.png" height="100px" width="100px" alt="">
          <p style="width: 300px;">  Não gera odores ou gases
          </p>
        </div>
      </div>

      
      
    </div>  
    <br><br>
  </section><!-- Vantagens -->